.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 100% !important;
  }
}

.btn{
  background-color: var(--Seidor-Hard-blue);
  color: #FAFAFAFF;
  font-size: 1em;
  padding: 10px 17px;
  border: 0;
  border-radius: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s ease;
  &:hover{
    background-color: var(--Seidor-Medium-blue);
    box-shadow: 0 0 50px 0 rgba(0,0,0, 0.5);
  }
}

