.products{
    padding: 40px 0;
}
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
background: url('/img/blur2.png') center center no-repeat;
background-size: contain;
}


.crestone { grid-area: 1 / 1 / 2 / 3; }
.doxa { grid-area: 1 / 3 / 2 / 4; }
.har { grid-area: 1 / 4 / 2 / 5; }
.cc { grid-area: 2 / 1 / 3 / 2; }
.feel { grid-area: 2 / 2 / 3 / 3; }
.daiana { grid-area: 2 / 3 / 3 / 5; }

.productItem{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--bg-container-tr);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Sombra exterior sutil */
        inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    transition: ease 1s all;
    min-height: 300px;
}

.productItem:hover {
    backdrop-filter: blur(40px);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.2), /* Sombra exterior más pronunciada */
        inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}