.web{
    background-color: var(--bg-contaider);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.imgsquare{
    width: 400px;
    aspect-ratio: 442/260;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.info{
    display: flex;
    align-items: center;
    color: var(--hard);
    gap: 10px;
    padding: 10px 0 ;
}

.div{
    margin: 0 20px;
}

.top{
    line-height: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    h3{
        margin: 0 !important;
    }
}

.bottom{
    color: var(--hard);
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 400px)
}
.play{
    aspect-ratio: 1/1;
    padding: 20px;
    border: 0px;
    border-radius: 8px;
    background-color: var(--bg-container-tr);
    backdrop-filter: blur(5px);
    transition: ease all 1s;
    &:hover{
        background-color: var(--bg-contaider);
        transform: scale(115%);
        color: var(--Seidor-Ligth-blue);
    }
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    background-color: var(--bg-container-tr);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    iframe{
        min-height: 70vh;
       border-radius: 8px;
       box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    }
}
.divframe{
    padding: 10px;
    position: relative;
    z-index: 310;
}


.haz{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(200%);
    z-index: 300;
}
.closeButton{
    background-color: transparent;
    border: 0px;
    transition: ease all 1s;
    &:hover{
        transform: scale(150%);
        padding-right: 25px;
    }
}
.header{
    display: flex;
    align-items: center;
    background-color: var(--bg-contaider);
    border-bottom: solid 1px var(--hard);
    color: var(--hard);
    padding: 15px 10px;
    h4{
        margin: 0;
    }
}

@media screen and (max-width: 750px) {
    .web{
        flex-direction: column;
    }
    .imgsquare{
        width: 100%;
    }
    .text{
        width: 100%;
    }
}

.topban{
    text-align: center;
    padding: 50px 10px ;
    border-radius: 8px;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:var(--bg-contaider) url(/img/haz/8.png) no-repeat;
    background-size: 600px;
    background-position: -150px -100px;

    p{
        max-width: 750px;
    }
    h2{
        font-size: 48px;
        font-weight: 800;
        margin: 15px 0 0 0;
        
    }
}

.animateUp {
    animation: moveUp 0.5s ease-out;
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}