.actinItem{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    color: var(--container);
    
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-contaider);
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1);
    
}