.actinItem{
    height: 100%;
    color: var(--carbon);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gridItem {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: var(--bg-container-tr);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-size: contain;
    border-radius: 8px;
    height: 100%;
    padding: 10px 10px 150px 10px;
}

.by {
    background-image: url(/img/index/byactin.png);
}
.bo { 
    background-image: url(/img/index/one.png);
}
.hana { 
     background-image: url(/img/index/hana.png);
}
.su { 
    background-image: url(/img/index/Sf.png);
}
.pla { 
    background-image: url(/img/index/plan.png);
}
.datapre{
    background-image: url(/img/index/datapre.png);
}

@media screen and (max-width: 780px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
