/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #66B6FF;
  --ifm-color-primary-dark: #07153A;
  --ifm-color-primary-darker: #07153A;
  --ifm-color-primary-darkest: #07153A;
  --ifm-color-primary-light: #263C7A;
  --ifm-color-primary-lighter: #263C7A;
  --ifm-color-primary-lightest: #66B6FF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --bg-full: #E2E8F0;
  --bg-contaider: #F1F5F9;
  --bg-container-tr: rgba(241, 245, 249, 0.5);
  --carbon: #242528;
  --medium: #E2E8F0;
  --hard: #94A3B8;

  --Seidor-Hard-blue: #07153AFF;
  --Seidor-Medium-blue: #263C7AFF;
  --Seidor-Ligth-blue: #66B6FFFF;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #66B6FF;
  --ifm-color-primary-dark: #66B6FF;
  --ifm-color-primary-darker: #66B6FF;
  --ifm-color-primary-darkest: #66B6FF;
  --ifm-color-primary-light: #66B6FF;
  --ifm-color-primary-lighter: #66B6FF;
  --ifm-color-primary-lightest: #66B6FF;
  --docusaurus-highlighted-code-line-bg: rgba(224, 32, 32, 0.3);
  --bg-full: #0F172B;
  --bg-contaider: #202938;
  --bg-container-tr: rgba(32, 41, 56, 0.5);
  --carbon: #F1F5F9;
  --medium: #555C67;
  --hard:#94A3B8;

  --Seidor-Hard-blue: #263C7AFF;
  --Seidor-Medium-blue: #263C7AFF;
  --Seidor-Ligth-blue: #66B6FFFF;
}

body, html {
  background-color: var(--bg-full);
  font-family: "Poppins", sans-serif;
}

a:hover{
  text-decoration: none;
}
.navbar{
  background-color: var(--bg-contaider);
}

.dropdown__menu{
  background-color: var(--bg-contaider);
  box-shadow: 0 0 6px 0 var(--bg-container-tr);
}
.docs_list{
  display: flex;
  align-items: center;
  gap: 10px;
  .box{
    padding: 5px;
    border-radius: 8px;
    background-color: var(--bg-contaider);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.circle_brand{

  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: var(--bg-contaider);
  margin: 5px;
}

.box_img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  margin: 20px 0;
}

.box_ui{
  background-color: #99D3FF;
  padding: 10px 0 10px 20px;
  border-radius: 10px;
  overflow: hidden;
  p{
    margin: 0;
  }
}

/*** custom page **/

.label_title {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}


.theme-doc-markdown header {
  display: none;
}

.navbar__logo{
  margin-right: -30px;
}

.divmode{

  background: linear-gradient(90deg, var(--Seidor-Medium-blue) 0%, var(--Seidor-Ligth-blue) 100%);
  margin: 10px 0;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
}



.arrrowDown, .arrrowUP{
  background-color: var(--Seidor-Hard-blue);
  color: white;
  padding: 10px;
  position: relative;
}

.arrrowDown::after {
  content: "";
  position: absolute;
  bottom: -40px;  /* mueve el tri치ngulo hacia abajo */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 40px solid var(--Seidor-Hard-blue); /* color del tri치ngulo */
}

.arrrowUP{
  margin-top: -30px;
}
.arrrowUP::before{
  content: "";
  position: absolute;
  top: -40px;  /* mueve el tri치ngulo hacia abajo */
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 40px solid var(--Seidor-Hard-blue); /* color del tri치ngulo */
}

.superdic{
  border-radius: 8px;
  overflow: hidden;
}


.footer__copyright {
  display: none !important;
}

.dropdown-header{
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--hard);
  padding: 20px 0;
  margin-top: 20px;
  border-top: solid 1px var(--medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;

}

.dropdown__menu{
  background-color: #f1f5f983;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
}

[data-theme='dark'] .dropdown__menu {
  background-color: #202938cc;
  
}

