.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--medium);
}

.container{
    background-color: var(--bg-contaider);
    border: solid 1px var(--hard);
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    .itemContent:last-child {
        border-bottom: none;
    }
}

.name{
    font-size: 1.2em;
    font-weight: 800;
    color: var(--Seidor-hard-blue);
    margin-bottom: 20px;
}

.itemContent{
    padding: 20px 16px;    
    background-color: transparent;
    border-bottom: solid 2px var(--medium);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    transition: all 0.5s ease;
    &:hover{
        color: var(--Seidor-Medium-blue);
        background-color: var(--medium);
        cursor: pointer;
        border-radius: 8px;
    }
}
.itemInfo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.viewButton{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--hard);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.text{
    text-align: left;
    margin: 0 70px  0 10px;
    small{
        color: var(--carbon);
        font-size: 1.1em;
    }
}